click==8.3.1; sys_platform == "linux"
loguru==0.7.3; sys_platform == "linux"
ujson==5.11.0; sys_platform == "linux"
requests==2.32.5; sys_platform == "linux"
PyExecJS==1.5.1; sys_platform == "linux"
psutil==7.2.1; sys_platform == "linux"
pyperclip==1.11.0; sys_platform == "linux"
fastapi==0.128.0; sys_platform == "linux"
uvicorn==0.40.0; sys_platform == "linux"