::-webkit-scrollbar {
	/*全局隐藏滚动条*/
	/* chrome 和Safari */
	display: none !important;
}

.el-scrollbar {
	/*隐藏select中的滚动条*/
	/* Firefox */
	overflow: -moz-scrollbars-none;
	/* IE 10+ */
	-ms-overflow-style: none;
}

.el-row {
	margin: 10px 0 !important;
}

/* .el-table td {
	padding: 8px 0 !important;
} */

.icon-circle-check {
	color: #67C23A;
	font-size: large;
}

.el-row:first-child {
	margin-top: 20px;
}

.el-col {
	border-radius: 4px;

}

.el-select .el-input {
	min-width: 90px;
}

.input-with-select .el-input-group__prepend {
	background-color: #fff;
}

.shadow {
	width: 100%;
	height: 100%;
	box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1)
}

.center {
	text-align: center;
}

.border-bottom {
	border-bottom: 1px solid #EBEEF5
}